.home_container {
  margin: 3% 15%;
  /* background-color: royalblue; */
}

.ask_and_username {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.ask_and_username a {
  padding: 7px 40px;
  border-radius: 5px;
  border: none;
  background-color: #516cf0;
  color: rgb(236, 226, 226);
  text-decoration: none;
}
.ask_and_username a:hover {
  padding: 7px 40px;
  border-radius: 5px;
  border: none;
  background-color: #2d49d3;
  color: rgb(236, 226, 226);
  text-decoration: none;
}
.home_container > p {
  font-size: 17pt;
}

/* thi is for question bod */
.qustion_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qustion_sinlQustion :hover svg {
  color: #1535d6;
}
.qustion_sinlQustion_a a {
  text-decoration: none;
}
.qustion_sinlQustion_a a:hover {
  text-decoration: none;
}
.qustion_container_logo {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px;
  color: rgb(56, 54, 54);
}
.qustion_container_logo > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.home_container hr {
  background-color: rgb(218, 215, 215);
  height: 1px;
  border: none;
}
/* question and search */
.qustion_and_search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.qustion_and_search input {
  padding: 5px;
  width: 200px;
  border: 2px solid rgb(233, 230, 230);
  border-radius: 5px;
}
.qustion_and_search :focus-within {
  outline: 2px solid rgb(233, 230, 230);
}
