.landingPageContainer {
  background-image: url("/evangadi_back.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  padding: 9% 5%;
  gap: 50px;
}

.formSection {
  border-radius: 5px;
  background-color: #fff;
}

.formWrapper {
  width: 600px !important;
  box-shadow: 2px 2px 10px 0 rgba(14, 13, 13, 0.1);
  border: none;
  width: 50%;
  background-color: #fff;
  position: relative;
  opacity: 1; /* Ensure it is visible */
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Slide Animations */
.slideInLeft {
  animation: slideInLeft 0.2s forwards;
}

.slideOutLeft {
  animation: slideOutLeft 0.2s forwards;
}

.slideInRight {
  animation: slideInRight 0.2s forwards;
}

.slideOutRight {
  animation: slideOutRight 0.2s forwards;
}

/* Keyframes */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .landingPageContainer {
    flex-direction: column;
    align-items: center;
  }

  .formSection,
  .aboutSection {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
