.aboutPage {
  margin-left: 20px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    line-height: 1.5;
    width: 90%;
    justify-content: justify;
    /* text-align: justify; */
    font-family: sans-serif;
  }
}
.aboutPage h4 {
  color: #ff8202;
  outline: none;
}
.aboutPageButton {
  max-width: 120px;
  color: #f5f5f5;
  background-color: #ff8202;
  padding: 10px 10px;
  border: solid 1px #ff8202;
  border-radius: 5px;
}
.aboutPageButton:hover {
  background-color: #df7307;
}
