.aboutPage {
  margin-left: 20px;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    line-height: 1;
    width: 80%;
    justify-content: justify;
    text-align: justify;
    font: 1em sans-serif;
  }
}
.aboutPage h4 {
  color: #ff8202;
  outline: none;
}
.aboutPageButton {
  max-width: 120px;
  color: #f5f5f5;
  background-color: #ff8202;
  padding: 10px 10px;
  outline: none;
  border-radius: 5px;
}